.chat-user-message, .chat-robot-message{
  display: flex;
  align-items: start;
  width: 100%;
  margin-bottom: 0.7rem;
  margin-top: 1.2rem;
}

.chat-user-message{
  justify-content: end;
}

.chat-robot-message {
  justify-content: start;
}

.chat-message-text{
  background-color: var(--chat-bg);
  color: var(--text-color);
  padding: 15px 20px;
  border-radius: 10px;
  max-width: 300px;
  margin: 0 1rem;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s, color 0.3s;
}

.chat-message-text:has(iframe){
  max-width: 360px;
}

.chat-message-text iframe{
  border-radius: 1.5rem;
}

.chat-message-profile{
  width: 45px;
  border-radius: 50%;
}

.chat-message-profile.robot{
  filter: var(--filter);
  transition: filter 0.3s;
}

.chat-message-time {
  font-size: 14px;
  color: rgb(125, 125, 125);
  margin-top: 5px;
}

@media (max-width: 505px) {
  .chat-message-text{
    max-width: 200px;
  }
  
  .chat-message-text:has(iframe){
    max-width: 260px;
  }

  .chat-message-profile{
    width: 35px;
  }
  
  .chat-message-time {
    font-size: 12px;
  }
}