.chat-messages-container {
  flex-grow: 1;
  margin-top: 20px;
  padding: 1rem;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media (max-width: 505px) {
  .chat-messages-container{
    padding: 1.5rem;
    margin-bottom: 4rem;
  }
}