.app-container {
  max-width: 700px;
  min-width: 320px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 505px) {
  /* .app-container{
    height: calc(100vh - 10rem - env(safe-area-inset-bottom, 0px));
  } */
}
