.app-container {
  max-width: 700px;
  min-width: 320px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@supports (height: 100dvh) {
  .app-container{
    height: 100dvh;
  }
}
